# Git
.git
.gitignore

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
.env
.venv
**/env/
**/venv/
**/ENV/
**/.pytest_cache/
**/.coverage
**/htmlcov/
**/.mypy_cache/
**/.ruff_cache/

# Docker
**/Dockerfile
docker-compose*
**/.dockerignore

# IDEs
.vscode/
.idea/
.cursor/

# OS
.DS_Store
Thumbs.db

# Database
*.sql
dbdump/
postgres_data/
